<div id="FULLWIDTH">

  <app-breadcrumb #breadcrumb></app-breadcrumb>
  <mat-sidenav-container class="example-container">
    <mat-sidenav class="sidenav" #sidenav [(mode)]="mode" [(opened)]="opened">
      <input #target [(ngModel)]="searchTerm" placeholder="search"
             (click)="openDialog()"
      />
      <button (click)="collapseAll()">Collapse All</button>

      <app-category-master #master (onChange)="categoryUpdated($event)"></app-category-master>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="button-div">
        <button class="button" mat-button (click)="toggleSidenav()">
          <span>{{buttonText}}</span>
        </button>
      </div>
      <div style="padding-left: 40px;">
        <div class="row justify-content-center" style="margin-left: 20px;">
          <div class="col-md-6" style="margin-right: 50px;">
            <app-google-age-chart #gAgeBlChart [title]="ageBlTitle"></app-google-age-chart>
            <app-google-age-chart #gAgeFuChart [title]="ageFuTitle"></app-google-age-chart>
          </div>
          <div class="col-md-4">
            <app-subject-table #subjectTable style="margin-left: 50px;"></app-subject-table>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>


</div>


<app-filter-dialog #filterDialog></app-filter-dialog>
