<script src="../breadcrumb/breadcrumb.component.ts"></script>
<div *ngIf="data">
  <div class="chart-container">
    <p-chart #chart type="bar" [data]="data" [options]="options"
             responsive="true"
    ></p-chart>
  </div>
</div>
