<input #target [(ngModel)]="searchTerm" placeholder="search"
       (keyup)="search($event, searchTerm, target)"
/>
<h2>Search Results</h2>
<div *ngIf="! display">
  <p>Type at least 3 characters to see results...</p>
</div>
<div *ngIf="display">
  <table>
    <thead>
    <tr>
      <th>View</th>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let res of results">
      <td>
        <button (click)="promoteCategory(res.itemId, res.categoryId)">+</button>
      </td>
      <td>{{res.name}}</td>
      <td>{{res.type}}</td>
      <td>{{res.description}}</td>
    </tr>
    </tbody>
  </table>
</div>
