@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  height:100%;
  background-color: #20272a;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Roboto', "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  background-color: #20272a;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
}
